<div class="container">
	<div class="row">
	    <div class="top-box col-sm-6">
	        <h2>Vital</h2>
			<div id="am_vital">

			</div>

			<p class="lead">
			<script type="text/javascript">
			var prev_vital_id = -1;
			var chartVitalData = generateChartData();

			var chartVital = AmCharts.makeChart("am_vital", {
			    "type": "serial",
			    "theme": "light",
			    "marginRight": 20,
			    "period": "ss",
			    "dataProvider": chartVitalData,
			    "valueAxes": [{
			        "position": "left",
			        "title": "Heart-rate"
			    }],
			    "graphs": [{
			        "id": "g1",
			        //"fillAlphas": 0.4,
			        "valueField": "value",
			        "balloonText": "<div style='margin:5px; font-size:19px;'>[[value]]</div>",
					"balloon":{
						"drop":true,
						"adjustBorderColor":false,
						"color":"#ffffff"
					},
			    }],
			    "chartScrollbar": {
			        "graph": "g1",
			        "scrollbarHeight": 80,
			        "backgroundAlpha": 0,
			        "selectedBackgroundAlpha": 0.1,
			        "selectedBackgroundColor": "#888888",
			        "graphFillAlpha": 0,
			        "graphLineAlpha": 0.5,
			        "selectedGraphFillAlpha": 0,
			        "selectedGraphLineAlpha": 1,
			        "autoGridCount": true,
			        "color": "#AAAAAA"
			    },
			    "chartCursor": {
			        "categoryBalloonDateFormat": "JJ:NN:SS",
			        "cursorPosition": "mouse"
			    },
			    "categoryField": "date",
			    "categoryAxis": {
			        "minPeriod": "ss",
			        "parseDates": true
			    },
			    "export": {
			        "enabled": true,
			         "dateFormat": "YYYY-MM-DD HH:NN:SS"
			    }
			});

			chartVital.pathToImages = "assets/images/";
			//chart.addListener("dataUpdated", zoomChart);
			//zoomChart();
			/*function zoomChart() {
			    chart.zoomToIndexes(chartData.length - 250, chartData.length);
			}*/

			function generateChartData() {
			    var chartVitalData = [];

			    <% @heartrates.each do |heartrate| %>
			    	chartVitalData.push({
			    		date: '<%= heartrate.created_at.to_formatted_s(:simple) %>',
			    		value: <%= heartrate.value %>
			    	});
			    	prev_vital_id = <%= heartrate.id %>;
			    <% end %>
			    return chartVitalData;
			}

			setInterval(function () {
				$.getJSON("/main/vital", {"prev_id": prev_vital_id},function(json){
					console.log(json);
					if(json.length == 0)
						return;

					$.each(json, function(){
						chartVitalData.push({
				    		date: this.formatted_date,
				    		value: this.value
						});
						if(this.id > prev_vital_id)
							prev_vital_id = this.id;

					});
					chartVital.validateData();
				});
			}, 5000);
			</script>
			</p>
	    </div>





	    <div class="top-box col-sm-6">
	        <h2>Bath</h2>
			<div id="am_bath">

			</div>

			<p class="lead">
			<script type="text/javascript">
			var prev_bath_id = -1;
			var chartBathData = generateChartData();

			var chartBath = AmCharts.makeChart("am_bath", {
			    "type": "serial",
			    "theme": "light",
			    "marginRight": 20,
			    "period": "ss",
			    "dataProvider": chartBathData,
			    "valueAxes": [{
			        "position": "left",
			        "title": "temperature"
			    }],
			    "graphs": [{
			        "id": "g1",
			        //"fillAlphas": 0.4,
			        "valueField": "value",
			        "balloonText": "<div style='margin:5px; font-size:19px;'>[[value]]</div>",
					"balloon":{
						"drop":true,
						"adjustBorderColor":false,
						"color":"#ffffff"
					},
			    }],
			    "chartScrollbar": {
			        "graph": "g1",
			        "scrollbarHeight": 80,
			        "backgroundAlpha": 0,
			        "selectedBackgroundAlpha": 0.1,
			        "selectedBackgroundColor": "#888888",
			        "graphFillAlpha": 0,
			        "graphLineAlpha": 0.5,
			        "selectedGraphFillAlpha": 0,
			        "selectedGraphLineAlpha": 1,
			        "autoGridCount": true,
			        "color": "#AAAAAA"
			    },
			    "chartCursor": {
			        "categoryBalloonDateFormat": "JJ:NN:SS",
			        "cursorPosition": "mouse"
			    },
			    "categoryField": "date",
			    "categoryAxis": {
			        "minPeriod": "ss",
			        "parseDates": true
			    },
			    "export": {
			        "enabled": true,
			         "dateFormat": "YYYY/MM/DD HH:NN:SS"
			    }
			});

			chartBath.pathToImages = "assets/images/";
			//chart.addListener("dataUpdated", zoomChart);
			//zoomChart();
			/*function zoomChart() {
			    chart.zoomToIndexes(chartData.length - 120, chartData.length);
			}*/

			function generateChartData() {
			    var chartBathData = [];

			    <% @temperatures.each do |temp| %>
			    	chartBathData.push({
			    		date: '<%= temp.created_at.to_formatted_s(:simple) %>',
			    		value: <%= temp.value %>
			    	});
			    	prev_bath_id = <%= temp.id %>;
			    <% end %>
			    return chartBathData;
			}

			setInterval(function () {
				$.getJSON("/main/bath", {"prev_id": prev_bath_id},function(json){
					console.log(json);
					if(json.length == 0)
						return;

					$.each(json, function(){
						chartBathData.push({
				    		date: this.formatted_date,
				    		value: this.value
						});
						if(this.id > prev_bath_id)
							prev_bath_id = this.id;
					});
					chartBath.validateData();
				});
			}, 5000);
			</script>
			</p>
	    </div>
	</div>
	<div class="row">
		<div id="nobose" class="alert alert-danger" role="alert" style="display:none;">
			<h2>Alert : Your heart-rate is high!</h2>
		</div>
		<script type="text/javascript">
			setInterval(function () {
				$.getJSON("/main/alert", "", function(is_alert){
					if(is_alert){
						$("#nobose").show();
					}else{
						$("#nobose").hide();
					}
				});
			}, 5000);
		</script>
	</div>
</div>
